<!DOCTYPE html>
<html lang="en-us">

<head>
  {% include head.html %}
</head>

<body>
  <div class="imageWrapper">
    <div class="headerBackground">
      <div class="container">
        {% include header.html %}
        <div class="iphonePreview">

          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 0 0" style="position: absolute;">
            <clipPath id="screenMask" clipPathUnits="objectBoundingBox" transform="scale(0.00257, 0.00119)">
              <path d="M6500,1250H6200c-2.5,0-10.5-.1-12-.1a85,85,0,0,1-12-1,38,38,0,0,1-11.5-3.8,37,37,0,0,1-17-17,38,38,0,0,1-3.8-11.5,70,70,0,0,1-1-12c-.1-1.8-.1-5.5-.1-5.5V450h0s.1-11.5.1-12a85,85,0,0,1,1-12,38,38,0,0,1,3.8-11.5,37,37,0,0,1,17-17,38,38,0,0,1,11.5-3.8,70,70,0,0,1,12-1c17-.5,36.5,0,34.5,0,5,0,6.5,3.5,6.6,7a35,35,0,0,0,1.2,8,21,21,0,0,0,19.2,15.5c2.3.2,6.8.3,6.8.3H6440s4.5-.1,6.8-.3a21,21,0,0,0,19.2-15.5,35,35,0,0,0,1.2-8c.1-3.5,1.6-7,6.6-7-1.8,0,17.5-.5,34.5,0a70,70,0,0,1,12,1,38,38,0,0,1,11.5,3.8,37,37,0,0,1,17,17,38,38,0,0,1,3.8,11.5,85,85,0,0,1,1,12c.1.7.1,12,.1,12h0V1200s0,3.7-.1,5.5a70,70,0,0,1-1,12,38,38,0,0,1-3.8,11.5,37,37,0,0,1-17,17,38,38,0,0,1-11.5,3.8,85,85,0,0,1-12,1c-1.5,0-9.5.1-12,.1Z" transform="translate(-6150 -400)" />
            </clipPath>
          </svg>

          <div class="videoContainer hidden">
            <video class="screenvideo" autoplay="autoplay" controls="controls">
            </video>
          </div>

          <img class="iphoneScreen hidden" src="" alt="">

          {% include screencontent.html %}
        </div>

        <div class="appInfo">
          <div class="appIconShadow">
            <img class="appIconLarge" src="{{ site.app_icon }}">
          </div>
          <div class="appNamePriceContainer">
            <h1 class="appName">
              {{ site.app_name }}
            </h1>
            <h2 class="appPrice">
              {{ site.app_price }}
            </h2>
          </div>
          <div class="appDescriptionContainer">
            <p class="appDescription">
              {{ site.app_description }}
            </p>
          </div>
          <div class="appTestimonyContainer">
            <p class="appTestimony">
              {{ site.app_testimony }}
            </p>
          </div>
          <div class="downloadButtonsContainer">
            {% if site.playstore_link %}
            <a class="playStoreLink" href="{{site.playstore_link}}">
              <img class="playStore" src="assets/playstore.png">
            </a>
            {% endif %}
            <a class="appStoreLink" href="{{site.appstore_link}}">
              <img class="appStore" src="assets/appstore.png">
            </a>
          </div>
        </div>

        {% include features.html %}
        {% include footer.html %}
        {% include appstoreimages.html %}
      </div>
    </div>
  </div>
</body>

</html>
